.class-login-form
{
  background-color: rgb(7, 20, 79);
  color: white;
  align-items: center;
  margin: 300px 200px 100px 200px;
}

.class-login-form h1
{
  font-size: 40px;
  text-align: center;

}

.class-login-form .input
{
  
  position: relative;
  height: 50px;
  width: 100%;
  background-color: brown;
  margin: 30px 0px;
}


.input input
{
  width: 100%;
  
}

.class-login-form input::placeholder
{
   color: white;
}

.class-login-form .icon
{
  position: absolute;
}
